*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-color: darken($apollo-gray, 15%);
    font-family: 'Spinnaker', sans-serif;
    font-size: $m-size;
    line-height: 2.2rem;
}

button {
    cursor: pointer;
}

a:visited,
a:link {
    color: $react-blue;
    text-decoration: none;
    margin: 0 0.5rem;
}