// Colors
$apollo-gray: rgb(53, 60, 88);
$darken-pink: rgb(242, 2, 160);
$off-white: rgb(238, 238, 238);
$redux-purple: rgb(118, 73, 188);
$react-blue: rgb(97, 218, 251);

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 44rem;