.button {
    background-color: $redux-purple;
    border: none;
    border-bottom: 0.25rem solid darken($react-blue, 20%);
    border-left: 0.1rem solid darken($darken-pink, 10%);
    color: lighten($darken-pink, 15%);
}

.btn__main {
    background: darken($off-white, 2%);
    color: $apollo-gray;
    text-align: center;
    width: 15rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn__main:hover {
    background: darken($off-white, 6%);
    color: darken($apollo-gray, 4%);
}

.btn--create-comment {
    @extend .btn__main;
    width: 12rem;
}

.button--update-comment {
    color: lighten($react-blue, 10%);
    border-bottom: none;
    border-left: none;
}