.button {
    background-color: $redux-purple;
    border: none;
    border-bottom: 0.25rem solid darken($react-blue, 20%);
    border-left: 0.1rem solid darken($darken-pink, 10%);
    color: lighten($darken-pink, 15%);
}