// main container styling.

.container__main {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
}

.container__sub {
    max-width: 80rem;
    margin: 0 auto;
}

.container__intro {
    margin: 2rem auto;
}

// container for header component
.container__header {
    margin: 0;
    padding: $m-size;
    max-height: 20vh;
    grid-column: 1 / 7;
}

// container for user forms component
.container__user-details {
    max-width: 50rem;
    margin: $l-size auto;
    padding: 0 0 $l-size 0;
}