// Form styling

.form__head {
    background: none;
    padding: $xs-size;
    color: lighten($vet-blue, 5%);
    margin-bottom: 1rem;
}

.form__input {
    background: none;
    color: $off-white !important;
    border: none;
}

.form__text-area {
    background: darken($off-white, 2%);
    color: darken($apollo-gray, 12%);
    resize: none;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
}

.form__input:focus {
    outline: none;
    border-color: lighten($vet-blue, 5%);
}

.input-label-focused {
    font-size: 0.5rem;
    color: lighten($vet-blue, 5%) !important;
    top: -1.55rem;
    left: -1.3rem;
    transition: all .1s ease-in-out;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus {
    -webkit-text-fill-color: $off-white !important;
    -webkit-box-shadow: 0 0 0 10rem rgba(24, 27, 40, .95)inset;
}

// Form for updating reviews

.update--grid {
    @extend .form__update-grid;

    & strong,
    span {
        color: $off-white;
    }

    & .update--head {
        @extend .form__head;
        grid-column: 1 / 3;
    }

    & .update--username {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    & .update--subject {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    & .update--body {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    & .update--options {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    & .update--head,
    .update--username,
    .update--subject,
    .update--body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-bottom: 1px solid lighten($apollo-gray, 2%);
        padding: $xs-size;
    }

    & .update--options {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-column-gap: $s-size;
        justify-items: center;
    }

    & .update--options>* {
        grid-row: 1 / 2;
    }
}

.update-textarea {
    @extend .form__text-area;
}

.update-title-input {
    @extend .form__input;
}

// Form for Creating User

.create-user--main {
    margin: auto;
}

.create-user {

    padding: $m-size;
    background: rgba(43, 49, 72, 0.8);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.8);

    & label {
        position: absolute;
        color: $off-white;
        font-family: 'Spinnaker', sans-serif;
    }
}

.create-user-input {
    position: relative;
    margin: 1rem 0;
}

.create--input {
    @extend .form__input;
    position: relative;
    width: 100%;
    border-bottom: 1px solid lighten($apollo-gray, 2%);
}

// Form for Login

.login--main {
    @extend .create-user--main;
    margin-bottom: $m-size;
}

.login--grid {
    @extend .form__create-grid;

    & strong {
        color: $off-white;
    }

    & .login--head {
        @extend .form__head;
        grid-column: 1 / 3;
    }

    & .login--options {
        grid-column: 1 / 3;
        grid-row: 3 / 4;

        display: grid;
        justify-items: center;
    }

    & .login--info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    & .login-email,
    .login-password {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 0.2rem;

        border-bottom: 1px solid lighten($apollo-gray, 2%);
        padding: $xs-size;
    }

}

.login--input {
    @extend .create--input;
}

// Form for CreateComment

.create-comment--main {
    @extend .template__main;
    max-width: 80rem;
    margin: $m-size auto;
    padding: $s-size;
}

.create-comment--grid {
    @extend .form__create-grid;

    & .create-comment--head {
        @extend .form__head;
        grid-column: 1 / 3;
    }

    & .create-comment--info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: 1fr 2fr;

        & .create-comment--side {

            & label {
                color: $off-white;
                margin-top: $l-size;
            }

            grid-column: 1 / 2;

            display: grid;
            grid-template-rows: 10rem min-content;
            justify-items: center;
        }
    }
}

.create-comment-textarea {
    @extend .form__text-area;
}

.quick-edit-textarea {
    @extend .form__text-area;
    background: darken($apollo-gray, 8%);
    color: $off-white;
    width: 90%;
}