.header {
    background-color: darken($apollo-gray, 12%);
    padding: $xs-size;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;

    & span {
        font-size: $s-size;
        color: $off-white;
    }
}

.nav-menu {
    margin-top: $m-size;
    text-align: center;

    & a {
        padding: 1rem;
        background: darken($apollo-gray, 12%);
        border-radius: 0.5rem;
        color: $off-white;
    }
}