.header {
    background-color: darken($apollo-gray, 11%);
    padding: $xs-size;

    display: flex;
    justify-content: space-between;

    & span {
        font-size: $s-size;
        color: $off-white;
    }
}