.header {
    background-color: $darken-pink;
    padding: 0.5rem $s-size;
    color: $apollo-gray;
    border-bottom: 5px solid darken($darken-pink, 15%);
}

.header a:visited,
a:link {
    color: $react-blue;
    text-decoration: none;
    margin: 0 0.5rem;
}

.header nav {
    font-size: $m-size;
    margin: auto 0;
    border-bottom: 0.2rem solid darken($react-blue, 10%);
}

.header__title {
    font-size: $l-size;
    margin: auto 0;
}

.header__subtitle {
    font-size: $m-size;
    margin: 0;
    color: $react-blue;
}

.header__inner-container {
    display: flex;
    justify-content: space-between;
}