.template__main {
    background: darken($apollo-gray, 10%);
    border-bottom: $s-size solid darken($apollo-gray, 15%);
    padding: 0.5rem;
    padding-bottom: 0.8rem;
    max-width: 70vw;
    margin: 0 auto;
}

.template__title {
    margin: 0;
    text-align: center;
}