.users__main {
    max-width: 75rem;
    background: $darken-pink;
    border-bottom: $s-size solid darken($darken-pink, 10%);
    padding-top: 0.6rem;
}

.section__users-main {
    max-width: 70rem;
    background: darken($react-blue, 5%);
    border-bottom: $s-size solid darken($react-blue, 18%);
    margin: 1rem auto;
}

.grid__users {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0.5rem;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 0.2rem;
    padding-top: 0.5rem;
    text-align: center;
    font-size: $m-size;
}

.grid__users span {
    background: $redux-purple;
    color: lighten($darken-pink, 15%);
    font-weight: 550;
    border-bottom: 3px solid darken($redux-purple, 10%);
    margin-left: 2rem;
    grid-column: 1;
}

.grid__users p {
    color: $redux-purple;
    font-weight: 550;
    border-bottom: 2px solid $redux-purple;
    margin: 0;
    grid-column: 2;
}