.container__review-details {
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.main__review-details {
    background: $darken-pink;
    padding: 1rem 0;
}

.main__review-details div {
    margin: 0 auto;
    max-width: 65rem;
    background: $redux-purple;
}

.head__review-details {
    color: $react-blue;
    text-align: center;
    background: $darken-pink;
    border-bottom: 4px solid darken($darken-pink, 15%);
    margin: $s-size 0;
}

.head__review-details h2 {
    margin: 0;
}