.modal {
    background: $darken-pink;
    color: $off-white;
    max-width: 80rem;
    text-align: center;
    padding: 5rem 8rem;
}

.modal__body {
    font-size: $l-size;
    word-break: break-all;
    background: $apollo-gray;
    padding: 1rem;
    border-radius: 0.35rem;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
    background: none !important;
    border: none !important;
}

.ReactModalPortal,
.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(15, 17, 24, 0.8) !important;
}

.ReactModal__Overlay--after-open {
    z-index: 1000;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}