.side-bar__main {
    background: darken($apollo-gray, 10%);
    padding: 1rem;
    max-width: 25vw;
    margin: 0 auto;
    position: sticky;
    top: 1rem;
}

.side-bar__user {
    color: $off-white;
    text-align: center;
    border-bottom: 1px solid $off-white;
    margin-bottom: $s-size;
}

.side-bar__content {
    width: 75%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & dt,
    dd {
        color: $off-white;
    }
}