.users--title {
    @extend .template__title;
    animation: penta-title 4.5s infinite alternate ease-in-out;
}

.users--section-intro {
    @extend .section__intro;
    animation: penta-border 6s infinite alternate ease-in-out;
}

.users--section-main {
    @extend .section__main;
    background: $redux-purple;
    border-bottom-color: darken($redux-purple, 13%);
    border-bottom-width: 4px;
    margin-bottom: $s-size;
    text-align: center;
}

.users--grid-main {
    @extend .grid__main;

    dt {
        grid-column: 1;
        margin-left: 2rem;
        background: $apollo-gray;
        border-bottom: 3px solid darken($apollo-gray, 10%);
    }

    dd {
        grid-column: 2;
        margin: 0;
        border-bottom: 2px solid darken($apollo-gray, 5%);
    }

    dd,
    dt {
        color: $react-blue;
        font-weight: 550;
    }
}